<div class="header">
<div class="container">
  <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
  <h1>BokenjiKan</h1>
</div>
</div>

<div class="tag">
<div class="container">
   <h2 class="tag-title"> <%= @tag.title %> </h2>

       <div class="cards row">
       <% @destinations.each do |t| %>
     <div class="card col-xs-4">
       <%=t.image %>
     <h2><%= t.name %></h2> 
     <p><%=  t.description %></p>  
     <p><%= link_to "See more", destination_path(d) %></p>
     </div>
     <% end %>
     </div>

</div>
</div>
